@font-face { font-family: "Yu"; src: url(itcedscr.ttf); }
@font-face { font-family: "Minionit"; src: url(MinionPro-It.otf); }
html { color: #1A1A1A; font-family: "Yu"; }

.en { font-family: "Minionit"; }

.center { display: block; margin-right: auto; margin-left: auto; text-align: center; }

#logo { display: block; margin-left: 73%; margin-top: 30px; margin-bottom: 50px; width: 20%; max-width: 200px; }

#logo2 { top: 10%; left: 15%; position: absolute; }
#logo2 p { font-size: 30px; }

.toplink { position: relative; width: 50px; }
.toplink :hover { border-bottom: solid black 2px; }
.toplink p { font-size: 25px; }
.toplink a { color: #1A1A1A; }
.toplink a :hover { color: #555555; }
