@charset "utf-8";
@import "modular-scale"; 
@import "compass";
$textblack: #1A1A1A;
$hoverblack: #666666;

@font-face{
    font-family: "Minionit";
    src: url(MinionPro-It.otf);
}
html{
	color: $textblack;
	font-family: "游明朝体", YuMincho, "Yu Mincho", "KozMinPro-Regular", "小塚明朝 Pro R", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
}
.en{
	font-family: "Minionit";
}
.center{
	display: block;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#logo{
	display: block;
	margin-left: 65%;
	margin-top: 30px;
	margin-bottom: 50px;
	width: 20%;
	max-width: 200px;
}
#logo2{
	cursor: default;
	top: 10%;
	left: 15%;
	position: absolute;
	p{
		font-size: 30px;
	}
}
.toplink{
	cursor: pointer;
	text-decoration: none;
	height: 35px;
	position: relative;
	width: 100px;
	font-size: 25px;
	&::after {
	    content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 2px;
	    transform: scaleX(0);
	    -webkit-transform: scaleX(0);
	    -o-transform: scaleX(0);
	    -moz-transform: scaleX(0);
	    background-color: black;
	    transition: all 0.2s ease;
	    -webkit-transition: all 0.2s ease;
	    -moz-transition: all 0.2s ease;
	    -o-transition: all 0.2s ease;
  	}
  	&:hover {
    	&::after {
     	 transform: scaleX(1);
     	 -o-transform: scaleX(1);
     	 -webkit-transform: scaleX(1);
     	 -moz-transform: scaleX(1);
    	}
  	}
	a{
		color: $textblack;
		transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		&:hover{
			color: $hoverblack;
		}
	}
}
.toplink2{
	cursor: pointer;
	text-decoration: none;
	height: 35px;
	position: relative;
	width: 80px;
	font-size: 25px;
	&::after {
	    content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 2px;
	    transform: scaleX(0);
	    -moz-transform: scaleX(0);
	    -o-transform: scaleX(0);
	    -webkit-transform: scaleX(0);
	    background-color: black;
	    transition: all 0.2s ease;
	    -webkit-transition: all 0.2s ease;
	    -moz-transition: all 0.2s ease;
	    -o-transition: all 0.2s ease;
  	}
  	&:hover {
    	&::after {
     	 transform: scaleX(1);
     	 -moz-transform: scaleX(1);
     	 -o-transform: scaleX(1);
     	 -webkit-transform: scaleX(1);
    	}
  	}
	a{
		color: $textblack;
		transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		&:hover{
			color: $hoverblack;
		}
	}
}
.toplink3{
	cursor: pointer;
	text-decoration: none;
	height: 35px;
	position: relative;
	width: 90px;
	font-size: 25px;
	&::after {
	    content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 2px;
	    transform: scaleX(0);
	    -moz-transform: scaleX(0);
	    -o-transform: scaleX(0);
	    -webkit-transform: scaleX(0);
	    background-color: black;
	    transition: all 0.2s ease;
	    -webkit-transition: all 0.2s ease;
	    -moz-transition: all 0.2s ease;
	    -o-transition: all 0.2s ease;
  	}
  	&:hover {
    	&::after {
     	 transform: scaleX(1);
     	 -moz-transform: scaleX(1);
     	 -o-transform: scaleX(1);
     	 -webkit-transform: scaleX(1);
    	}
  	}
	a{
		color: $textblack;
		transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		&:hover{
			color: $hoverblack;
		}
	}
}
.toplink4{
	cursor: pointer;
	text-decoration: none;
	height: 35px;
	position: relative;
	width: 140px;
	font-size: 25px;
	&::after {
	    content: '';
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    width: 100%;
	    height: 2px;
	    transform: scaleX(0);
	    -moz-transform: scaleX(0);
	    -o-transform: scaleX(0);
	    -webkit-transform: scaleX(0);
	    background-color: black;
	    transition: all 0.2s ease;
	    -webkit-transition: all 0.2s ease;
	    -moz-transition: all 0.2s ease;
	    -o-transition: all 0.2s ease;
  	}
  	&:hover {
    	&::after {
     	 transform: scaleX(1);
     	 -moz-transform: scaleX(1);
     	 -o-transform: scaleX(1);
     	 -webkit-transform: scaleX(1);
    	}
  	}
	a{
		color: $textblack;
		transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		&:hover{
			color: $hoverblack;
		}
	}
}
.six, .columns{
	text-align: center;
}
.menu{
	margin-top: 10%;
}
html,body{
     height:100%;
}
#logoin{
	width: 10%;
	position: absolute;
	margin-left: 5%;
	margin-top: 5%;
}
@media(max-width: 1330px){
	#logoin{
		visibility: hidden;
	}
}
.text{
	font-family: "游明朝体", YuMincho, "Yu Mincho", "KozMinPro-Regular", "小塚明朝 Pro R", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
	font-size: 16px;
	color: $textblack;
	text-align: left;
}
.entext{
	font-family: MinionPro-Regular, Times , "Times New Roman", AGaramondPro-Regular, "Century Schoolbook", serif;
	font-size: 16px;
	color: $textblack;
	text-align: left;
}
h4{
	text-align: left;
	font-family: "游明朝体", YuMincho, "Yu Mincho", "KozMinPro-Regular", "小塚明朝 Pro R", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", serif;
	color: $textblack;
}
.entitle{
	text-align: left;
	font-family: MinionPro-Regular, Times , "Times New Roman", AGaramondPro-Regular, "Century Schoolbook", serif;
	color: $textblack;
}
h2{
	text-align: left;
	font-family: "Minionit";
	color: $textblack;
}
.top{
	margin-top: 0%;
}
.topmargin{
	margin-top: 20px;
}
i{
	vertical-align: middle;
}
#title{
	visibility: hidden;
}
@media(max-width: 1330px) {
	#title{
		visibility: visible;
		color: $textblack;
	}
}
.icon{
	padding-left: 13px;
}
.icon2{
	padding-right: 13px;
}
a{
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	text-decoration: none;
	color: $textblack;
	&:hover{
		color: $hoverblack;
	}
}
.hoimg{
	a{
		background-color: #fff;
		transition: all 0.2s ease;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		&:hover{
			background-color: #fff;
			opacity: 0.5;
			filter: alpha(opacify=50);
			-ms-filter: alpha(opacify=50);
		}
		&:active{
			background-color: #000;
			opacity: 0.5;
			filter: alpha(opacify=50);
			-ms-filter: alpha(opacify=50);
		}
	}
}
.shbtn{
	border: solid 1px $textblack;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 80px;
	height: 20px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	&:hover{
		border-color: $hoverblack;
		& > p:hover{
			color: $hoverblack;
		}
	}
}
.shbtn2{
	border: solid 1px $textblack;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 55px;
	height: 20px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	&:hover{
		border-color: $hoverblack;
		& > p:hover{
			color: $hoverblack;
		}
	}
}
.shbtn3{
	border: solid 1px $textblack;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	width: 110px;
	height: 20px;
	transition: all 0.2s ease;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	&:hover{
		border-color: $hoverblack;
		& > p:hover{
			color: $hoverblack;
		}
	}
}
.shtext{
	font-family: "Helvetica Neue", Calibri, Corbel, san-serif;
	font-size: 12px;
	color: #textblack;
	&:hover{
		color: #hoverblack;
	} 
}
@media(min-width: 765px){
	#akikoph{
		margin-top: 90px;
	}
	#andoph{
		margin-top: 33px;
	}
	#keisukeph{
		margin-top: 40px;
	}
	#michikoph{
		margin-top: 4px;
	}
	#mitaniph{
		margin-top: 59px;
	}
	#tsujiph{
		margin-top: 38px;
	}
}