@font-face {
  font-family: "Yu";
  src: url(itcedscr.ttf); }
@font-face {
  font-family: "Minionit";
  src: url(MinionPro-It.otf); }
/* line 12, ../sass/style.scss */
html {
  color: #1A1A1A;
  font-family: "Yu"; }

/* line 16, ../sass/style.scss */
.en {
  font-family: "Minionit"; }

/* line 19, ../sass/style.scss */
.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

/* line 25, ../sass/style.scss */
#logo {
  margin-right: 30%;
  width: 20%; }
